#footer {
  background-color: #f6f9fe;
  height: 400px;
  font-size: 14px;
  color: #565656;
  line-height: 1.5;
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    img {

    }
    .footer-desc {
      margin-top: 20px;
      text-align: center;
      .footer-links {
        margin: 20px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        a {
          display: flex;
          padding: 7px;
          font-size: 14px;
          color: #565656;
          &:hover {
            color: #6f42c1;
          }
        }
      }
    }
  }
}