#header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  .get-scroll & {
    position: fixed;
    top: 0;
    transform: translateY(-120%);
    background-color: #fff;
    box-shadow: 0 2px 15px rgba(0,0,0, 0.2);
  }
  .show-header & {
    transition: 0.3s;
    transform: none;
  }


  .container {
    .main-header {
      display: flex;
      height: 84px;
      justify-content: space-between;
      align-items: center;
      nav {
          ul {
            display: flex;
            li {
              a {
                color: #fff;
                padding: 20px 30px;
                font-size: 14px;
                cursor: pointer;
                .show-header & {
                  color: #333;
                }
              }
            }
          }
        }
      }
    }
}