#header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  .get-scroll & {
    position: fixed;
    top: 0;
    transform: translateY(-120%);
    background-color: #fff;
    box-shadow: 0 2px 15px rgba(0,0,0, 0.2);
  }
  .show-header & {
    transition: 0.3s;
    transform: none;
  }


  .container {
    .main-header {
      display: flex;
      height: 84px;
      justify-content: space-between;
      align-items: center;
      .logo {
        .get-scroll & {
          .scroll-logo {
            display: block;
          }
          .main-logo {
            display: none;
          }
        }
        .scroll-logo {
          display: none;
        }
      }

      nav {
          ul {
            display: flex;
            @include screen-sm {
              display: none;
            }
            li {
              a {
                color: #fff;
                padding: 20px 30px;
                font-size: 14px;
                cursor: pointer;
                .show-header & {
                  color: #333;
                }
              }
            }
          }
        }
      .btn-menu {
        font-size: 26px;
        color: #fff;
        cursor: pointer;
        display: none;
        @include screen-sm {
          display: block;
          color: #fff;
          margin-right: 15px;
        }
        .show-header & {
          color: #333;
        }
      }
    }
  }
    .side-header {
      nav {
        ul {
          position: fixed;
          top: 0;
          bottom: 0;
          right: -300px;
          z-index: 1000;
          background-color: #fff;
          box-shadow: 0 5px 15px  rgba(0, 0, 0, 0.15);
          width: 250px;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          .open-side-menu & {
            right: 0;
          }
          li {
            padding: 20px;
            margin-top: 20px;
          }
        }
      }
      .screen {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 100;
        background: rgba(255,255,255, 0.7);
        display: none;
        .open-side-menu & {
          display: block;
        }
      }
    }
}